*{
  margin: 5px ;
  padding: 0;
}
.main-div {
border: solid;
background-color:rgb(51, 255, 231);
height: 500px;
width: 15%;
display: flex;
justify-content:space-between;
flex-direction: column;
}

.item {
  border: solid white;
  background-color: hsl(0, 100%, 50%);
  height: 40px;
  flex-basis:auto ;
  justify-content: space-around;
  text-align: center;
  align-items: center;

}

.last-item {
  border: solid white;
  background-color: rgb(136, 255, 0);
  height: 40px;
  text-align: center;
  align-items: center;

  
}