*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}



/* nav part */

nav{
    height: 80px;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 80px;
}
.log{
  font-size: 30px;
  font-weight: 600;
  color: antiquewhite;
}
nav ul {
    display: flex;
}
nav ul li{
    margin: 0 7px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}
nav ul li a{
    color: cornsilk;
    text-decoration: none;
    transition: all 0.3s ease;
    
}
nav ul li a:hover{
     background-color: darkblue;
     padding: 8px 10px;
     border-radius: 6px;
}
nav .menu-btn{
  color: beige;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
#click{
    display: none;
}
@media(max-width:940px) {
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
        color: red;

    }
    nav ul{
        position: fixed;
        top:80px;
        left:-100%;
        background-color:#111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left:0%;
    }
    nav ul li{
        margin: 30px 0px;
    }
    nav .menu-btn{
        display: block;
    }
    
}

/* card part */

.Animation{
        display: flex;
    word-wrap: wrap;
    padding: 10px;
    margin: 0 auto;  
    flex: 1 0 20%;
    flex-wrap: wrap;
    align-items: center;
    
 }

 .maindiv{
    margin: 5px;
    width: 400px;
    height: 200PX;
    /* margin: auto; */
    border: solid;
    border-radius: 15px;
    background-image: url("a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #b3b3ff;
    display: flex;
    align-items: center; 
}
 
 img{
    
    width: 150px;
    height: 150px;
    border: solid;
    border-radius: 50%;
    display: flex;
    
 }
  /* animation */
.image{
    display: block;
    margin: 0 auto;
   
 }
 .image:focus,.image:hover{
      /* animation: name duration timing-function delay iteration-count direction fill-mode; */
     animation: amar;
     animation-duration: 10s;
     animation-direction: infinite;
 } 
  @keyframes amar{
      25%{  transform: rotate(30deg); }
      50%{  transform: rotate(-30deg);  }
      75%{ transform: rotate(5deg); }
      100%{ transform: rotate(0deg);}
  }


 .pic{
    margin: 5px;
    width: 150px;
    height: 150px;   
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    text-align: center;
 }
 .card{
    margin: 5px;
    width:90px ;
    height: 150px;
    background-image: url("b.jpg");
    background-repeat: no-repeat; 
    background-size: cover;   
    word-wrap: wrap;
    border-radius: 10px;
    justify-content: space-evenly;
    flex-grow: 1;
   
 }
 
h2{
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    text-justify: auto;
    font-weight: bold 50px; 
    word-wrap: wrap; 
}

p{
    text-align: center;
    text-justify: auto;
    font-weight: bold;
    word-wrap: wrap;
    font-weight:  40px;
}

@media (max-width:800px){
    .maindiv{
        width: 100%;
        flex-direction: row;
        
    }
    .divcards{
    margin: 8px;
    width: 300px;
    height: 150PX;
    border: solid;
    border-radius: 15px;
    display: flex;
    align-items: center;  
    }
    .showdiv{
        margin: 5px;
        border: solid;
        box-sizing: fixed;
    }
    .card{
    background-repeat: no-repeat; 
    background-size: cover;   
    word-wrap: wrap;
    border-radius: 10px;
    justify-content: space-evenly;
    flex-grow: 1;
    }
}