*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
.maindiv{
   display: flex;
   word-wrap: wrap;
   padding: 10px;
   margin: 10px;  
   flex: 1 0 20%;
   flex-wrap: wrap;
}
.divcards{
    margin: 8px;
    width: 300px;
    height: 150PX;
    /* margin: auto; */
    border: solid;
    border-radius: 15px;
    display: flex;
    align-items: center;          
}
.cardpic{
    margin: 5px;
    width: 70px;
    height: 70px;
    border: solid;
    border-radius: 50%;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    text-align: center;
}
.card1{
    height: 100px;
    background: #81ecec;
    border-radius: 10px;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
}
h5{
    text-align: center;
    text-decoration: underline;
    text-justify: auto;
    font-weight: bold 25px;  
}
p{
    text-align: center;
    text-justify: auto;
    font-weight: bold;
}
/* @media (max-width:468px){
    .maindiv{
               flex-direction: column;
    }
} */
@media (max-width:800px){
    .maindiv{
        width: 100%;
        flex-direction: row;
        flex-flow: wrap;
    }
    .divcards{
    margin: 8px;
    width: 300px;
    height: 150PX;
    /* margin: auto; */
    border: solid;
    border-radius: 15px;
    display: flex;
    /* flx box */
    align-items: center;  
    }
}

